@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/


@media only screen and (max-width: 1600px)
{
	
}

/************
2. 1440px
************/

@media only screen and (max-width: 1540px)
{

}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{

}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{

}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	.main_slider
	{
		min-height: 475px;
		height: calc(100vw / 1.714);
	}
        .my_account_item 
        {
            padding-left: 100px;
        }
	.main_slider_content
	{
		width: 80%;
	}
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	h1{font-size: 48px;}
	h2{font-size: 36px;}
	.main_slider_content h6
	{
		margin-bottom: 23px;
	}
	.top_nav
	{
		display: none;
	}
	.navbar_menu
	{
		display: none;
	}
	.hamburger_container
	{
            display: block;
            margin-left: 450px;

	}
	.main_slider
	{
		margin-top: 100px;
	}
	.main_slider_content
	{
		width: 100%;
		padding-right: 15px;
	}
	.footer_nav_container
	{
		height: auto;
		margin-top: 65px;
	}
	.footer_social
	{
		height: auto;
		margin-top: 20px;
		margin-bottom: 65px;
	}
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
        .hamburger_container
	{
            margin-left: 450px;
	}
        
        .footer_social
        {
            margin-left: -5px;
        }
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	.hamburger_container
	{
		margin-left: 400px;
	}
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	.hamburger_container
	{
		margin-left: 350px;
	}
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{
	h1{font-size: 36px;}
	h2{font-size: 24px;}
	h6{font-size: 12px;}
	.main_slider_content h6
	{
		margin-bottom: 20px;
	}
        .hamburger_container
	{
		margin-left: 240px;
	}
	.banner_item
	{
		margin-bottom: 30px;
		height: 210px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	.hamburger_menu
	{
		right: -100%;
		width: 100%;
	}
        .hamburger_container
	{
		margin-left: 220px;
	}
	.cr
	{
		display: block;
		margin-right: 0px;
		margin-bottom: 30px;
		font-size: 13px;
	}
	.footer_nav
	{
		margin-bottom: 20px;
	}
	.footer_nav li
	{
		display: block;
		margin-right: 0px;
	}
	.footer_nav li a
	{
		font-size: 13px;
	}
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
        .hamburger_container
	{
		margin-left: 150px;
	}
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
        .hamburger_container
	{
		margin-left: 130px;
	}
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	.logo_container a
	{
		font-size: 12px;
	}
	.hamburger_container
	{
		margin-left: 130px;
	}
	.hamburger_container i
	{
		font-size: 16px;
	}
	.hamburger_close
	{
		top: 14px;
		right: 4px;
	}
	.hamburger_close i
	{
		font-size: 20px;
	}
	.hamburger_menu_content
	{
		padding-right: 15px;
		padding-top: 70px;
	}
	.menu_item
	{
		border-bottom-color: rgba(181, 174, 196, 0.5);
	}
	.menu_item > a
	{
		font-size: 12px;
		line-height: 35px;
		height: 35px;
	}
	.menu_selection li a
	{
		font-size: 12px;
		line-height: 35px;
		height: 35px;
	}
	.navbar
	{
		height: 70px;
	}
	.navbar_user li a
	{
		width: 30px;
		height: 30px;
		font-size: 12px;
	}
	.main_slider
	{
		height: calc(100vh - 70px);
		/*height: 80vw;*/
		min-height: auto;
		margin-top: 70px;
	}
	.main_slider_content h6
	{
		margin-bottom: 15px;
	}
	.main_slider_content h1
	{
		font-size: 24px;
	}
	.banner_item
	{
		height: calc((100vw - 30px) / 2.6);
	}
	.footer_nav_container
	{
		margin-top: 35px;
	}
	.cr
	{
		margin-bottom: 20px;
	}
	.footer_nav
	{
		margin-bottom: 20px;
	}
	.footer_social
	{
		margin-top: 5px;
		margin-bottom: 30px;
	}
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
    	.hamburger_container
	{
		margin-left: 20px;
	}
        
        .main_slider 
        {
            height: 600px;
            margin-left: -8px;
        }
        
        .footer_nav_container
	{
                height: 150px;
		margin-top: 200px;
	}
	.cr
	{
		margin-top: -150px;
	}
	.footer_nav
	{
		margin-top: -250px;
                height: 50px;
	}
	.footer_social
	{
		margin-top: 0px;
                margin-left: -5px;
	}

	
}